<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/css/asset/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/asset/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/css/asset/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/css/asset/plugins/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="/css/asset/css/material.css">
		
		<!-- Lineawesome CSS -->
		<link rel="stylesheet" href="/css/asset/css/line-awesome.min.css">
		
		<!-- Chart CSS -->
		<link rel="stylesheet" href="/css/asset/plugins/morris/morris.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/asset/css/style.css">
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/css/asset/css/select2.min.css">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="/css/asset/css/bootstrap-datetimepicker.min.css">
		
		<!-- Calendar CSS -->
		<link rel="stylesheet" href="/css/asset/css/fullcalendar.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/asset/css/tab.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
