
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="row">
						<!-- <div class="col-md-12">
							<div class="page-head-box">
								<h3>Events</h3>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
										<li class="breadcrumb-item active" aria-current="page">Events</li>
									</ol>
								</nav>
							</div>
						</div> -->
						
					</div>
					
					<!-- /Page Header -->

					<!-- Search Filter -->
					<!--<div class="row filter-row">
						<div class="col-md-8"></div>
						<div class="col-md-4">
							<div class="add-emp-section">
								<a href="#" class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_event"><i class="fas fa-plus"></i> Add Event</a>
							</div>
						</div>
					</div>-->
					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card mb-0">

								<div class="tab">
									<button class="tablinks" onclick="openCity(event, 'Main')">Main</button>
									<button class="tablinks" onclick="openCity(event, 'Biometrics')">Biometrics</button>
									<button class="tablinks" onclick="openCity(event, 'Tax')">Tax</button>
									<button class="tablinks" onclick="openCity(event, 'Journal')">Journal</button>
									<button class="tablinks" onclick="openCity(event, 'Promotion')">Promotion</button>
								</div>

									<div id="Main" class="tabcontent">
  										<h3>Main</h3>
  										<p>Main is the capital city of Adenola.</p>
									</div>

											<div id="Biometrics" class="tabcontent">
  												<h3></h3>
 												 <p>Tax is the capital of France.</p> 
											</div>

													<div id="Tax" class="tabcontent">
														<div class="container">
															<form method="post" id="firm" action="">
																<div class="col-lg-6 mb-2">
															<label style="padding-left: 23px;">Tax Fiscal Year </label>
															<input type="text" name="fiscal_year"  value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="2020" readonly required/>
														</div>
														<div class="col-lg-6 mb-2">
															<label style="padding-left: 23px;">Tax Period </label>
															<input type="text" name="tax_period" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="00.00" readonly required/>
														</div>
														<div class="col-lg-6 mb-2">
															<label style="padding-left: 23px;">Relief on Gross(%) </label>
															<input type="text" name="relief" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="All" readonly required/>
														</div>
														<div class="form-group col-lg-6 mb-2">
															<label style="padding-left: 23px;">Tax Basics </label>
															<select class="form-control" data-placeholder="Relief on Gross" name="dropdown" style="border-radius: 30px; margin-left: 23px;">
																<option value="success">Success</option>
																<option value="danger">Danger</option>
																<option value="info">Info</option>
																<option value="pink">Pink</option>
																<option value="primary">Primary</option>
																<option value="warning">Warning</option>
																<option value="orange">Orange</option>
																<option value="bown">Brown</option>
																<option value="Teal">Teal</option>
															</select>
														</div>
													   <div class="col-lg-3 mb-2">
															<label style="padding-left: 23px;">Gross up not Statutory for tax payment</label>
															<input type="checkbox" name="gross" style="width: 100px; height: 35px;">
														</div>
														<div class="col-lg-3 mb-2">
															<label style="padding-left: 23px;">Subject value from Tax rule to Tax table</label>
															<input type="checkbox" name="gross" style="width: 100px; height: 35px;">
														</div>
														<div class="row" style="justify-content: end; margin-right: 6px;">
														<div class="col-md-1 mb-2">
															<button type="button" name="editbtn" value="editbtn" class="btn btn-primary" id="Editbnt">Edit</button>
															</div>
															<div class="col-md-1 mb-2">
																<button type="button" name="savebtn" value="save" class="btn btn-secondary" id="savebnt">Save</button>
																</div>
															<div class="col-md-1">
																<button type="button" name="cancelbtn" value="submit" class="btn btn-danger" id="cancelbnt">Cancel</button>
																</div>
															
														</div>
													</form>
													</div>
												</div>
												<div id="Journal" class="tabcontent">
													<div class="container">
														<form method="post" action="">
															
													<div class="form-group col-lg-6 mb-2">
														<label style="padding-left: 23px;">Posting Company </label>
														<select class="select" name="company" id="company" style="border-radius: 30px; margin-left: 23px;">
															<option value="Success">Success</option>
															<option value="danger">Danger</option>
															<option value="info">Info</option>
															<option value="pink">Pink</option>
															<option value="primary">Primary</option>
															<option value="warning">Warning</option>
															<option value="orange">Orange</option>
															<option value="bown">Brown</option>
															<option value="Teal">Teal</option>
														</select>
													</div>
													<div class="form-group col-lg-6 mb-2">
														<label style="padding-left: 23px;">Posting Division </label>
														<select class="select" name="division" id="division" style="border-radius: 30px; margin-left: 23px;">
															<option value="Tuns">Tuns Farm</option>
															<option value="danger">Default</option>
															<option value="info">Info</option>
															<option value="pink">Pink</option>
															<option value="primary">Primary</option>
															<option value="warning">Warning</option>
															<option value="orange">Orange</option>
															<option value="bown">Brown</option>
															<option value="Teal">Teal</option>
														</select>
													</div>
													<div class="form-group col-lg-6 mb-2">
														<label style="padding-left: 23px;">Posting Department </label>
														<select class="select" name="department" id="department" style="border-radius: 30px; margin-left: 23px;">
															<option value="Success">Default</option>
															<option value="danger">Danger</option>
															<option value="info">Info</option>
															<option value="pink">Pink</option>
															<option value="primary">Primary</option>
															<option value="warning">Warning</option>
															<option value="orange">Orange</option>
															<option value="bown">Brown</option>
															<option value="Teal">Teal</option>
														</select>
													</div>
													<div class="form-group col-lg-6 mb-2">
														<label style="padding-left: 23px;">Salary Control Account </label>
														<select class="select" name="salaryControl" id="salaryContol" style="border-radius: 30px; margin-left: 23px;">
															<option value="Success">Department</option>
															<option value="danger">Danger</option>
															<option value="info">Info</option>
															<option value="pink">Pink</option>
															<option value="primary">Primary</option>
															<option value="warning">Warning</option>
															<option value="orange">Orange</option>
															<option value="bown">Brown</option>
															<option value="Teal">Teal</option>
														</select>
													</div>
													<div class="form-group col-lg-6 mb-2">
														<label style="padding-left: 23px;">Salary Journal Setup Type </label>
														<select class="select" name="salaryJournal" id="salaryJournal" style="border-radius: 30px; margin-left: 23px;">
															<option value="Success">Department</option>
															<option value="danger">Danger</option>
															<option value="info">Info</option>
															<option value="pink">Pink</option>
															<option value="primary">Primary</option>
															<option value="warning">Warning</option>
															<option value="orange">Orange</option>
															<option value="bown">Brown</option>
															<option value="Teal">Teal</option>
														</select>
													</div>
												   <div class="col-lg-3 mb-2">
														<label style="padding-left: 23px;">Group similar GL accounts together while posting</label>
														<input type="checkbox" name="glAccounts" id="glAccounts" style="width: 100px; height: 35px;">
													</div>
													
													<div class="row" style="justify-content: end; margin-bottom: 10px; margin-right: 6px;">
													<div class="col-md-1 mb-2">
														<button type="submit" name="submitbtn" value="submit" class="btn btn-primary">Save</button>
														</div>
														<div class="col-md-1 mb-2">
															<button type="button" name="cancel-btn" value="submit" class="btn btn-danger">Cancel</button>
															</div>
														
													</div>
												</form>
												</div>
									  			</div>
												  <div id="Promotion" class="tabcontent">
													<div class="container">
														<form method="post" id="frm" action="">
																<div class="col-lg-6 mb-2">
																<label style="padding-left: 23px;">Auto Prmotion </label>
																<input type="text" name="auto" id="auto" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="2020" readonly required/>
																	</div>
															<div class="col-lg-6 mb-2">
																<label style="padding-left: 23px;">No of Promotion in a Year </label>
																<input type="text" name="promo" id="promo" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="00.00" readonly required/>
																</div>
															<div class="col-lg-6 mb-2">
																<label style="padding-left: 23px;">Relief on Gross(%) </label>
																<input type="text" name="red" value="" id="red" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="All" readonly required/>
																</div>
													
												
													<div class="row" style="justify-content: end; margin-right: 6px;">
														<div class="col-md-1 mb-2">
															<button type="button" name="editbtn" value="editbtn" class="btn btn-primary" id="btnEdt">Edit</button>
															</div>
																<div class="col-md-1 mb-2">
																	<button type="button" name="savebtn" value="save" class="btn btn-secondary" id="savbtn">Save</button>
																</div>
																	<div class="col-md-1">
																		<button type="button" name="cancelbtn" value="submit" class="btn btn-danger" id="cancebtn">Cancel</button>
																	</div>
														
													</div>
												</form>
												<div class="grid">
														<table>
														<tr>
														<th>ID</th>
														<th>Discription</th>
														<tr>
															<tr>
															<td></td>
															<td></td>
															</tr>
														</table>
	
													</div>

												</div>
									  			</div>


												  
								
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
			
				<!-- Add Event Modal -->
				<!--<div id="add_event" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Event</h5>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<i class="fas fa-times"></i>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label>Event Name <span class="text-danger">*</span></label>
										<input class="form-control" type="text">
									</div>
									<div class="form-group">
										<label>Event Date <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Category</label>
										<select class="select form-control">
											<option>Danger</option>
											<option>Success</option>
											<option>Purple</option>
											<option>Primary</option>
											<option>Pink</option>
											<option>Info</option>
											<option>Inverse</option>
											<option>Orange</option>
											<option>Brown</option>
											<option>Teal</option>
											<option>Warning</option>
										</select>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div> -->
				<!-- /Add Event Modal -->
				
				<!-- Event Modal -->
				<div class="modal custom-modal fade" id="event-modal">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Event</h5>
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
									<i class="fas fa-times"></i>
								</button>
							</div>
							<div class="modal-body"></div>
							<div class="modal-footer text-center">
								<button type="button" class="btn btn-success submit-btn save-event">Create event</button>
								<button type="button" class="btn btn-danger submit-btn delete-event" data-bs-dismiss="modal">Delete</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Event Modal -->
				
				<!-- Add Category Modal-->
				<div class="modal custom-modal fade" id="add-category">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
								<h4 class="modal-title">Add a category</h4>
							</div>
							<div class="modal-body p-20">
								<form>
									<div class="row">
										<div class="col-md-6">
											<label class="col-form-label">Category Name</label>
											<input class="form-control" placeholder="Enter name" type="text" name="category-name">
										</div>
										<div class="col-md-6">
											<label class="col-form-label">Choose Category Color</label>
											<select class="form-control" data-placeholder="Choose a color..." name="category-color">
												<option value="success">Success</option>
												<option value="danger">Danger</option>
												<option value="info">Info</option>
												<option value="pink">Pink</option>
												<option value="primary">Primary</option>
												<option value="warning">Warning</option>
												<option value="orange">Orange</option>
												<option value="brown">Brown</option>
												<option value="teal">Teal</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary cancel-btn" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
								<button type="button" class="btn btn-danger save-category" data-bs-dismiss="modal">Save</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Category Modal-->
				
            </div>
			<!-- /Page Wrapper -->
			
        
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
	