	
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Contact Main Row -->
				<div class="chat-main-row">
				
					<!-- Contact Wrapper -->
					<div class="chat-main-wrapper">
						<div class="col-lg-12 message-view">
							<div class="chat-window">
								<div class="fixed-header">
									<div class="row">
										<div class="col-6">
											<h6 class="page-title mb-0"></h6> 
										</div>
									   <div class="col-6">
											<div class="navbar justify-content-end">
												<div class="search-box m-t-0">
													<div class="input-group input-group-sm">
														<input type="text" class="form-control" placeholder="Search">
															<button class="btn" type="button"><i class="fa fa-search"></i></button>
													</div>
												</div>
												<ul class="nav float-end custom-menu">
													<li class="nav-item dropdown dropdown-action">
														<a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="javascript:void(0)">Menu 1</a>
															<a class="dropdown-item" href="javascript:void(0)">Menu 2</a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="chat-contents">
									<div class="chat-content-wrap">
										<div class="chat-wrap-inner">-->
											<div class="container">	
                                                <form method="post" class="form1" id="form1" action="">
													<div class="col-lg-6 mb-2">
                                                    <div class="mb-2">
                                                        <label style="padding-left: 23px;">Loan Type ID</label>
                                                        <input type="text" name="loanid" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="ARM Pension" required/>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label style="padding-left: 23px;">Discription</label>
                                                        <input type="text" name="scrip" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required/>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label style="padding-left: 23px;">Intrest Rate(%)</label>
                                                        <input type="text" name="Intrest" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required/>
                                                    </div>
													<div class="mb-2">
														<label style="padding-left: 23px;">Intrest Type </label>
														<input type="text" name="int" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required/>
													</div>
													<div class="mb-2">
														<label style="padding-left: 23px;">Email </label>
														<input type="text" name="email" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required />
													</div>
													
                                                </div>	
												
													<div class="row" style="justify-content: end; margin-right: 20px; margin-bottom: 30PX;">
														<div class="col-md-1 mb-2">
														<button type="button" name="savebtnn" id="Savebtnn" class="btn btn-info">Save</button>
														</div>
														<div class="col-md-1 mb-2">
														<button type="button" name="cancelbtn" id="Cancelbtn" class="btn btn-primary">Cancel</button>
													</div>
												</div>
											
												   </form>
												   							</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>ID</th>
											<th>Discription</th>
										
										</tr>
									</thead>
									<</table>
                                                
                                            </div>
												
													</div>

												
				
			</div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
		   