
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">


<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Contact Main Row -->
				<div class="chat-main-row">
				
					<!-- Contact Wrapper -->
					<div class="chat-main-wrapper">
						<div class="col-lg-12 message-view">
							<div class="chat-window">
								<div class="fixed-header">
									<div class="row">
										<div class="col-6">
											<h6 class="page-title mb-0"></h6> 
										</div>
									   <div class="col-6">
											<div class="navbar justify-content-end">
												<div class="search-box m-t-0">
													<div class="input-group input-group-sm">
														<input type="text" class="form-control" placeholder="Search">
															<button class="btn" type="button"><i class="fa fa-search"></i></button>
													</div>
												</div>
												<ul class="nav float-end custom-menu">
													<li class="nav-item dropdown dropdown-action">
														<a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="javascript:void(0)">Menu 1</a>
															<a class="dropdown-item" href="javascript:void(0)">Menu 2</a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="chat-contents">
									<div class="chat-content-wrap">
										<div class="chat-wrap-inner">-->
								<div id=main></div>	
								<h3>Main</h3>
                              <div class="container">
                                  <form method="post" class="formm" id="formm">
                                      <div class="col-lg-6 mb-2">
                                          <div class="mb-2">
                                              <label style="padding-left: 23px;">Fiscar Year</label>
                                              <input type="text" name="car" value="" class="form-control" style="border-radius: 35px; margin-left: 30px;" readonly required/>
                                          </div>
                                          <div class="mb-2">
                                            <label style="padding-left: 23px;">state </label>
                                            <input type="text" name="leave" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required readonly/>
                                         </div>
                                         <div class="mb-2">
                                            <label style="padding-left: 23px;">state </label>
                                            <input type="text" name="leave" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required readonly/>
                                         </div>
                                         <table class="center" border="1" width="160%" height="20px" cellspacing="" cellpadding="0" style="margin-top: 30px;" >
                                            <tr>
                                                <td>Tax Table Element</td>
											
												<td class="hot" style="text-align: end;">
													<a href="#" style="margin-right: 10px;" > Show Seacrch</a>
													   
												
													<a href="#" style="margin-right: 0px; padding-right: 10px;"> Next Line</a>
							
												</td>
                                              </tr>
                                        </table>
                                        <table class="center" border="1" width="160%" height="20px" cellspacing="" cellpadding="0" style="margin-bottom: 100px;" >
        
                                            <th></th>
                                            <th></th>
                                            <th>Payment Type Basis</th>
                                            <th style="text-align: end;padding-right: 20px;">GLAccount</th>
                                            <tr>
                                              
                                                <td><i class="bi bi-pencil-square" style="color: green; text-decoration:underline;"></i><h6>edit</h6></td>
                                                <td><i class="bi bi-file-earmark-x" style="color: red;"></i><h6>delete</h6></td>
                                          </tr>
                                          <tr>
                                            <td><i class="bi bi-pencil-square" style="color: green;"></i><h6>edit</h6></td>
                                            <td><i class="bi bi-file-earmark-x" style="color: red;"></i><h6>delete</h6></td>
                                          </tr>
                                          <tr>
                                            <td><i class="bi bi-pencil-square" style="color: green;"></i><h6>edit</h6></td>
                                            <td><i class="bi bi-file-earmark-x" style="color: red;"></i><h6>delete</h6></td>
                                          </tr>
                                        </table>


                                      </div>
                                            
													<div class="row" style="justify-content: end; margin-right: 20px; margin-top: 60px;">
														<div class="col-md-1 mb-2">
															<button type="button" name="editnn" id="EDITnn" class="btn btn-primary">Edit</button>
														</div>
														<div class="col-md-1 mb-2">
														<button type="button" name="savebtnn" id="SAVEbtnn" class="btn btn-success">Save</button>
														</div>
														<div class="col-md-1 mb-2">
														<button type="button" name="cancelbtn" id="CANCELbtn" class="btn btn-danger">Cancel</button>
														</div>
												</div>
								   </form>
								   							</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>ID</th>
											<th>Discription</th>
										
										</tr>
									</thead>
									<</table>
                                                
                                            </div>
												
                              </div>

							  <!--/main ends here-->

							  <!--New Start here-->
							  				
                              <div class="container">
                                  <form method="post" class="formm" id="formm">
                                      <div class="col-lg-6 mb-2">
                                          <div class="mb-2">
                                              <label style="padding-left: 23px;">Department ID</label>
                                              <input type="text" name="car" value="" class="form-control" style="border-radius: 35px; margin-left: 30px;" readonly required/>
                                          </div>
                                          <div class="mb-2">
                                            <label style="padding-left: 23px;">Department Discription</label>
                                            <input type="text" name="leave" value="" class="form-control" style="border-radius: 30px; margin-left: 23px;" placeholder="" required readonly/>
                                         </div>
                                        
                                         <table class="center" border="1" width="160%" height="20px" cellspacing="" cellpadding="0" style="margin-top: 30px;" >
                                            <tr>
                                                <td>Tax Table Element</td>
										
												<td class="hot" style="text-align: end;">
													<a href="#" style="margin-right: 10px;" > Show Seacrch</a>
													   
												
													<a href="#" style="margin-right: 4px;"> Next Line</a>
							
												</td>


													

                                                


                                            </tr>
                                        </table>


                                      </div>
                                            
													<div class="row" style="justify-content: end; margin-right: 20px; margin-top: 60px;">
														<div class="col-md-1 mb-2">
															<button type="button" name="editnn" id="editnn" class="btn btn-primary">Edit</button>
														</div>
														<div class="col-md-1 mb-2">
														<button type="button" name="savebtnn" id="Savebtnn" class="btn btn-success">Save</button>
														</div>
														<div class="col-md-1 mb-2">
														<button type="button" name="cancelbtn" id="Cancelbtn" class="btn btn-danger">Cancel</button>
														</div>
												</div>
								   </form>
								   							</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>ID</th>
											<th>Discription</th>
										
										</tr>
									</thead>
									<</table>
                                                
                                            </div>
												
                              </div>
						 </div>
					</div>							
				</div>
			</div>
			<!-- /Page Wrapper -->
			
        </div>