		 Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="row">
						<div class="col-md-12">
							<div class="page-head-box">
								<h3>Summary Form For The Month</h3>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
										<li class="breadcrumb-item active" aria-current="page">Offer Approvals</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
		
<h1>JASON</h1>


			<div class="debug"></div>
										</div>
									</div>
								</div>
							</div>
						
					
				
				<!-- /Delete Job Modal -->
				
            

			<script>
				fetch("test.json")
				.then(response => response.json())
				.then(data => {
					console.log(data.setence)
					document.querySelector("#debug").innerText = data
				})
			</script>
			